.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 0;
  .phone{
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    a{color: #111;}
  }
}