@import '@/app/globals.module.scss';

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: var(--headerVertikalPadding) var(--sidePadding);
  left: 0;
  top: 0;
  .phone{
    font-size: 17px;    
    font-weight: 600;
    line-height: 100%;
    @media (max-width: 1440px) {
      font-size: 14px;
    }
    a {
      color: #111
    }
  }
}