@import '@/app/globals.module.scss';


.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: formIn 1000ms;
  &.unMaunting {
    animation: formOut 1000ms;
    animation-fill-mode: forwards;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100vw - 2*var(--sidePadding)) / 3);
    @media (max-width: 1024px) {
      width: calc(5 * (100vw - 2*var(--sidePadding)) / 12);
    }
    @media (max-width: 768px) {
      width: calc(7 * (100vw - 2*var(--sidePadding)) / 11);
    }
    @media (max-width: 600px) {
      width: calc(100vw - 2*var(--sidePadding));
    }
    h2 {
      color: #000;
      text-align: center;
      font-size: 52px;
      line-height: 120%; 
      text-transform: uppercase;
      margin-bottom: 80px;
      @media (max-height: 730px) {
        margin-bottom: 20px;
      }
      @media (max-width: 1440px) {
        font-size: 40px;
        margin-bottom: 50px;
      }
      @media (max-width: 1024px) {
        font-size: 28px;
      }
      @media (max-width: 600px) {
        font-size: 20px;
      }
    }
    .input {
      height: 81px;
      label {
        color: #000;
        line-height: 160%;
        text-transform: uppercase;
        font-size: 17px;
        @media (max-width: 1440px) {
          font-size: 16px;
        }
        @media (max-width: 1024px) {
          font-size: 14px;
        }
        @media (max-width: 600px) {
          font-size: 11px;
        }
      }
    }
    p {
      text-align: center;
      opacity: 0.5;
      margin-bottom: 30px;
      @media (max-width: 1440px) {
        font-size: 12px;
      }
      @media (max-width: 1024px) {
        font-size: 11px;
      }
      @media (max-width: 600px) {
        font-size: 12px;
      }
      span {
        text-decoration-line: underline;
      }
    }
    .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px; 
      border-radius: 100px;
      border: 1px solid $accent_color;
      background: $accent_color;  
      color: #FFF;
      font-weight: 600;
      line-height: 100%; 
      letter-spacing: 1.05px;
      text-transform: uppercase; 
      font-size: 15px;      
      padding: 24px 69px;
      margin-bottom: 30px;
      width: 234px;
      height: 63px;
      transition: all 200ms ease-in-out;
      @media (max-width: 1440px) {
        width: 228px;
        height: 62px;
      }
      @media (max-width: 1024px) {
        font-size: 14px; 
        width: 170px;
        height: 54px;
      }
      @media (max-width: 600px) {
        font-size: 11px;
        height: 47px;
      }
      &:hover {
        opacity: 0.9;
        font-size: 17px;
      }
    }
    .errorStatus {
      color: #ED2F80;
    }
  }
  .close {    
    background: url(/svgs/close-form-btn.svg) no-repeat center;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 60px;
    right: 60px;
    border: none;
    transition: all 200ms ease-in-out;
    &:hover {
      cursor: pointer;
      transform: rotate(180deg);
    }
    @media (max-width: 1440px) {
      right: var(--sidePadding);
      top: var(--sidePadding);
    }    
  }
}