@import '@/app/globals.module.scss';

.logo {
  position: relative;
  width: 187px;
  height: 30px;
  top: -5px;
  flex: 1;
  @media (max-width: 1440px) {
    width: 156px;
    height: 25px;
  }
  @media (max-width: 768px) {
    order: 1;
    flex: 0 0 auto;
  }
}