@import '@/app/globals.module.scss';

.description {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 0 $baseWidth;
  .brick {
    background-color: #2F80ED;
    width: 63px;
    height: 12px;
    margin-top: 231px;
  }
  h1 {
    @extend .heading;
    color: #111;
    font-size: 34px;
    margin-top: 65px;
    span {
      display: block;
      &:nth-child(2) {
        color: #2F80ED;
      }
    }
  }
  .text {
    color: #111;
    font-size: 20px;
    
    
    line-height: 160%;
    text-transform: uppercase; 
    margin-top: 120px; 
    span {
      display: block;
      &:nth-child(1) {
        color: #2F80ED;
      }
    }
  }
}