@import '@/app/globals.module.scss';

.welcome {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: max(750px, calc(100vh - 130px));
  align-content: flex-start;
  align-items: flex-end;
  gap: 50px 20px;
  div {
    position: relative;
  }
  .image {
    flex: 1 0 100%; 
    aspect-ratio: 3;
  }
  .slogan {
    flex: 1 0 auto;
    color: #2F80ED;
    font-size: 31px;   
    line-height: 140%;
    text-transform: uppercase;
    @media (max-width: 1440px) {
      font-size: 26px;
    }
  }
  .name {
    flex: 0 0 862px;
    width: 862px;
    height: 137px;
    @media (max-width: 1440px) {
      flex: 0 0 717px;
      width: 717px;
      height: 114px;  
    }
    @media (max-width:1024px) {
      flex: 0 0 554px;
      width: 554px;
      height: 88px;      
    }
  }
}