$main_bg_color: #fff;
$accent_color: #2F80ED;

.heading {
  line-height: 140%;
  text-transform: uppercase;
}

.effect {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 300ms;
}

@keyframes formIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes formOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}