:root {
  --headerHeight: 130px;
  --headerVertikalPadding: 40px;
  --sidePadding: 80px;
}

@media (max-width: 1440px) {
  :root {
    --headerHeight: 100px;
    --headerVertikalPadding: 29px;
    --sidePadding: 40px;
  }
}

@media (max-width: 768px) {
  :root {
    --headerHeight: 123px;
    --headerVertikalPadding: 40px;
    --sidePadding: 40px;
  }
}

@media (max-width: 360px) {
  :root {
    --headerHeight: 80px;
    --headerVertikalPadding: 28px;
    --sidePadding: 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Semibold.woff2') format('woff2'), url('/fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;  
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Bold.woff2') format('woff2'), url('/fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;  
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.woff2') format('woff2'), url('/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;  
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Light.woff2') format('woff2'), url('/fonts/ProximaNova-Light.woff') format('woff');
  font-weight: 300;  
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {  
  text-decoration: none;
}
img {
  max-width: 100%;
}
html, body {
	height: 100%;
  max-width: 100vw;
}
body {	
	margin: 0;
	font-family: Proxima Nova, Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}
#scrollWrapper {
  width: 100%;
  height: 100%;
}
main {
  padding: var(--headerHeight) var(--sidePadding);
}
header {
  height: var(--headerHeight);
  width: 100%;
  z-index: 1;
  background-color: #fff;
}