@import '@/app/globals.module.scss';

.videoWidget {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 100px;
  width: 100%;
  @media (max-width: 1440px) {
    margin-top: 96px;
  }
  @media (max-width: 1024px) {
    margin-top: 60px;
  }
  @media (max-width: 768px) {
    margin-top: 30px;
  }
  gap: 20px;
  justify-content: space-around;
  .about {    
    color: #111;
    flex: 1 0 auto;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    font-size: 18px;
    @media (max-width: 1440px) {
      font-size: 14px;
    }
    @media (max-width: 1024px) {
      font-size: 10px;
    }
    span {
      display: block;
      &:nth-child(2) {        
        opacity: 0.5;
      }
    } 
  }
  .line {
    flex: 0 1 140px;
    height: 1px;
    background: #D7D7D7;
  }
  .playButton {
    background: none;
    border: none;
    position: relative;
    flex: 0 0 241px;
    @media (max-width: 1440px) {
      flex: 0 0 186px;
    }
    @media (max-width: 1024px) {
      flex: 0 0 133px;
    }
    @media (max-width: 600px) {
      flex: 0 0 131px;
    }
    &::after {
      @extend .effect;
      background: url(/svgs/video-play-btn.svg) no-repeat center;
      background-size: 60%;
      transform: scale(1);
    }
    &::before {
      @extend .effect;
      background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 45%, rgb(255, 255, 255, 0) 50%, rgba(255,255,255,0) 100%);
      border-radius: 50%;
      opacity: 0;
    }
    &:hover::after {
      transform: scale(1.2);
    }
    &:hover::before {
      opacity: 0.5;
    }
  }
}