.textButton {
  height: 15px;
  color: #2F80ED;
  font-size: 15px;  
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  border: none;
  background: none;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  @media (max-width: 1440px) {
    font-size: 13px;
    letter-spacing: 0.91px;
  }
  span {
    position: relative;
    transition: all 200ms;
    display: block;
    height: 15px;
    &::after {
      content: 'Заказать звонок';
      position: absolute;
      top: 200%;
      left: 0;
    }
  }
  &:hover {
    span {
      transform:translateY(-200%);
    }
  }
}