.textButton {
  color: #2F80ED;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  border: none;
  background: none;
  height: 15px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  span {
    position: relative;
    transition: all 200ms;
    display: block;
    height: 15px;
    &::after {
      content: 'Заказать звонок';
      position: absolute;
      top: 200%;
      left: 0;
    }
  }
  &:hover {
    span {
      transform:translateY(-200%);
    }
  }
}