@import '@/app/globals.module.scss';

.textButton {
  height: 15px;
  color: $accent_color;
  font-size: 15px;  
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  border: none;
  background: none;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  &::before {
    @extend .effect;
  }
  @media (max-width: 1440px) {
    font-size: 13px;
    letter-spacing: 0.91px;
  }
  @media (max-width: 1024px) {
    font-size: 13px;
    letter-spacing: 0.84px;
  }
  //меняем текст на кнопку в мобильной версии
  @media (max-width: 768px) {
    background-image: url('/svgs/mobile-call-btn.svg');
    width: 43px;
    height: 43px;
    order: 0;
    &::before {
      background: radial-gradient(circle, #2F80ED 0%, #2F80ED 45%,  rgba(255,255,255,0) 100%);
      border-radius: 50%;
      opacity: 0;
    }
    &:hover::before {
      opacity: 0.2;
    }
  }  
  @media (max-width: 600px) {
    order: 2;
  }
  span {
    position: relative;
    transition: all 200ms;
    height: 15px;
    display: block;
    @media (max-width: 768px) {
      display: none;
    }
    &::after {
      content: 'Заказать звонок';
      position: absolute;
      top: 200%;
      left: 0;
    }
  }
  &:hover {
    span {
      transform:translateY(-200%);
    }
  }
}